
body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.btn {
  background: #3b82f6;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
